@import "variables";

@font-face {
  font-family: 'cranfont';
  src:  url('#{$icomoon-font-path}/Cranfont.eot?th2otg');
  src:  url('#{$icomoon-font-path}/Cranfont.eot?th2otg#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/CranFont.ttf?th2otg') format('truetype'),
    url('#{$icomoon-font-path}/CranFont.woff?th2otg') format('woff'),
    url('#{$icomoon-font-path}/CranFont.svg?th2otg#CranFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cranfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cranfont-training-2,
.dashicons-cranfont-training-2 {
  &:before {
    content: $cranfont-training-2;
  }
}
.cranfont-training-1,
.dashicons-cranfont-training-1 {
  &:before {
    content: $cranfont-training-1;
  }
}
.cranfont-sport-desk {
  &:before {
    content: $cranfont-sport-desk;
  }
}
.cranfont-conferences {
  &:before {
    content: $cranfont-conferences;
  }
}
.cranfont-policies .path1 {
  &:before {
    content: $cranfont-policies-path1;  
    color: rgb(4, 5, 4);
  }
}
.cranfont-policies .path2 {
  &:before {
    content: $cranfont-policies-path2;  
    margin-left: -1em;  
    color: rgb(4, 5, 4);
  }
}
.cranfont-policies .path3 {
  &:before {
    content: $cranfont-policies-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.cranfont-learning-blog {
  &:before {
    content: $cranfont-learning-blog;
  }
}
.cranfont-faq-s,
.dashicons-cranfont-faqs {
  &:before {
    content: $cranfont-faq-s;
  }
}
.cranfont-departments {
  &:before {
    content: $cranfont-departments;
  }
}
.cranfont-cards {
  &:before {
    content: $cranfont-cards;
  }
}
.cranfont-sports {
  &:before {
    content: $cranfont-sports;
  }
}
.cranfont-notices {
  &:before {
    content: $cranfont-notices;
  }
}
.cranfont-headmasters-blog {
  &:before {
    content: $cranfont-headmasters-blog;
  }
}
.cranfont-activities {
  &:before {
    content: $cranfont-activities;
  }
}
.cranfont-jobs {
  &:before {
    content: $cranfont-jobs;
  }
}
.cranfont-pages {
  &:before {
    content: $cranfont-pages;
  }
}
.cranfont-news {
  &:before {
    content: $cranfont-news;
  }
}
.cranfont-training-22 {
  &:before {
    content: $cranfont-training-22;
  }
}
.cranfont-person {
  &:before {
    content: $cranfont-person;
  }
}
.cranfont-ocs {
  &:before {
    content: $cranfont-ocs;
  }
}
.cranfont-cranprep {
  &:before {
    content: $cranfont-cranprep;
  }
}
.cranfont-cranleigh {
  &:before {
    content: $cranfont-cranleigh;
  }
}
.cranfont-twitter {
  &:before {
    content: $cranfont-twitter;
  }
}
.cranfont-facebook {
  &:before {
    content: $cranfont-facebook;
  }
}
.cranfont-quotation {
  &:before {
    content: $cranfont-quotation;
  }
}
.cranfont-download {
  &:before {
    content: $cranfont-download;
  }
}
.cranfont-image {
  &:before {
    content: $cranfont-image;
  }
}
.cranfont-gallery {
  &:before {
    content: $cranfont-gallery;
  }
}
.cranfont-geographic {
  &:before {
    content: $cranfont-geographic;
  }
}
.cranfont-results {
  &:before {
    content: $cranfont-results;
  }
}
.cranfont-trips {
  &:before {
    content: $cranfont-trips;
  }
}
.cranfont-arrow {
  &:before {
    content: $cranfont-arrow;
  }
}
.cranfont-video {
  &:before {
    content: $cranfont-video;
  }
}
.cranfont-noticeboard {
  &:before {
    content: $cranfont-noticeboard;
  }
}
.cranfont-events {
  &:before {
    content: $cranfont-events;
  }
}
.cranfont-news2 {
  &:before {
    content: $cranfont-news2;
  }
}
.cranfont-full-crest {
  &:before {
    content: $cranfont-full-crest;
  }
}
.cranfont-link {
  &:before {
    content: $cranfont-link;
  }
}

