$icomoon-font-path: "fonts" !default;

$cranfont-training-2: "\e913";
$cranfont-training-1: "\e914";
$cranfont-sport-desk: "\e915";
$cranfont-conferences: "\e916";
$cranfont-policies-path1: "\e917";
$cranfont-policies-path2: "\e918";
$cranfont-policies-path3: "\e919";
$cranfont-learning-blog: "\e91a";
$cranfont-faq-s: "\e91b";
$cranfont-departments: "\e91c";
$cranfont-cards: "\e91d";
$cranfont-sports: "\e91e";
$cranfont-notices: "\e91f";
$cranfont-headmasters-blog: "\e920";
$cranfont-activities: "\e921";
$cranfont-jobs: "\e922";
$cranfont-pages: "\e923";
$cranfont-news: "\e924";
$cranfont-training-22: "\e925";
$cranfont-person: "\e900";
$cranfont-ocs: "\e901";
$cranfont-cranprep: "\e902";
$cranfont-cranleigh: "\e903";
$cranfont-twitter: "\e904";
$cranfont-facebook: "\e905";
$cranfont-quotation: "\e906";
$cranfont-download: "\e907";
$cranfont-image: "\e908";
$cranfont-gallery: "\e909";
$cranfont-geographic: "\e90a";
$cranfont-results: "\e90b";
$cranfont-trips: "\e90c";
$cranfont-arrow: "\e90d";
$cranfont-video: "\e90e";
$cranfont-noticeboard: "\e90f";
$cranfont-events: "\e910";
$cranfont-news2: "\e911";
$cranfont-full-crest: "\e926";
$cranfont-link: "\e912";

