$icomoon-font-path: "fonts" !default;

$icon-person: "\e900";
$icon-ocs: "\e901";
$icon-cranprep: "\e902";
$icon-cranleigh: "\e903";
$icon-twitter: "\e904";
$icon-facebook: "\e905";
$icon-quotation: "\e906";
$icon-download: "\e907";
$icon-image: "\e908";
$icon-gallery: "\e909";
$icon-geographic: "\e90a";
$icon-results: "\e90b";
$icon-trips: "\e90c";
$icon-arrow: "\e90d";
$icon-video: "\e90e";
$icon-noticeboard: "\e90f";
$icon-events: "\e910";
$icon-news: "\e911";
$icon-full-crest: "\e926";

