$icomoon-font-path: "fonts" !default;

$cranfont-person: "\e900";
$cranfont-ocs: "\e901";
$cranfont-cranprep: "\e902";
$cranfont-cranleigh: "\e903";
$cranfont-twitter: "\e904";
$cranfont-facebook: "\e905";
$cranfont-quotation: "\e906";
$cranfont-download: "\e907";
$cranfont-image: "\e908";
$cranfont-gallery: "\e909";
$cranfont-geographic: "\e90a";
$cranfont-results: "\e90b";
$cranfont-trips: "\e90c";
$cranfont-arrow: "\e90d";
$cranfont-video: "\e90e";
$cranfont-noticeboard: "\e90f";
$cranfont-events: "\e910";
$cranfont-news: "\e911";
$cranfont-full-crest: "\e926";
$cranfont-link: "\e912";

